@import "tailwindcss";

@theme inline {
  --color-brand-green: #8cc541;
  --color-brand-green-dark: #6da32e;
  --color-brand-blue: #29abe2;
  --color-brand-blue-dark: #1e8ab8;
  --color-brand-dark: #0a0a0f;
  --color-brand-gray: #111118;
  --color-brand-border: #1e1e2e;

  --font-sans: var(--font-jetbrains);
}

body {
  background: #0a0a0f;
  color: #9ca3af;
  font-family: var(--font-jetbrains), monospace;
}
